/* Estilos generales */
.activosContainer h2 {
  margin-top: 95px;
  text-align: center;
}

.search-bar {
  padding: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 450px;
  max-width: 100%; /* Ajuste para móviles */
  font-size: 14px; /* Reduce el tamaño de la fuente para pantallas pequeñas */
  border: 1px solid #ccc;
  border-radius: 10px;
}

.export-buttons {
  display: flex;
  margin-bottom: 20px;
}

.export-buttons button {
  margin-right: 10px;
  padding: 8px;
}

.export-buttons button:last-child {
  margin-right: 0;
}

.export-excel {
  background-color: #fff;
  color: white;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  width: auto;
}

.export-excel:hover {
  background-color: #ccdfcc;
}

.export-pdf {
  background-color: #fff;
  color: white;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

.export-pdf:hover {
  background-color: #e4b9b9;
}

.table-container {
  overflow-x: auto; /* Permite el desplazamiento horizontal */
  width: 100%;
  margin-bottom: 20px;
}

.activos-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  min-width: 500px; /* Evita que las columnas se compriman demasiado */
}

.activos-table th,
.activos-table td {
  padding: 8px;
  text-align: center;
}

.activos-table thead tr {
  background-color: #2a3443;
  color: #ffffff;
  font-weight: bold;
}

.activos-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.activos-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.activos-table tbody tr:last-of-type {
  border-bottom: 2px solid #2a3443;
}

.edit-button,
.delete-button,
.view-button {
  padding: 8px 12px;
  margin: 0 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.edit-button {
  background-color: #4caf50;
  color: white;
}

.delete-button {
  background-color: #f44336;
  color: white;
}

.view-button {
  background-color: #ff9800;
  color: white;
}

.edit-button:hover,
.delete-button:hover,
.view-button:hover {
  opacity: 0.8;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button-pages {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin: 0 10px;
  border: none;
  border-radius: 45%;
  background-color: #0201165b;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-pages:hover {
  background-color: #374151;
}

.button-pages:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-controls span {
  font-size: 16px;
  font-weight: bold;
  color: #2a3443;
}

.export-button {
  background-color: #ff9800;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  width: 50%;
  margin-top: 5px;
}

.export-button:hover {
  background-color: #e68900;
}

.Icon-Download {
  display: block;
  margin: 0 auto;
  width: 35px;
  height: auto;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

input[type="checkbox"] {
  display: none; /* Oculta el checkbox por defecto */
}

.custom-checkbox {
  width: 30px;
  height: 30px;
  background-color: #e2e8f0; /* Gris claro */
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo cuando el checkbox está seleccionado */
input[type="checkbox"]:checked + .custom-checkbox {
  background-color: #34d399; /* Verde claro */
}

/* El icono de checkmark que aparece cuando está seleccionado */
.custom-checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 6px;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  transform: translate(-50%, -50%) rotate(-45deg);
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Muestra el icono de checkmark cuando el checkbox está marcado */
input[type="checkbox"]:checked + .custom-checkbox::before {
  opacity: 1;
}


/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .search-bar {
    font-size: 16px;
    height: 40px;
    width: 450px;
    max-width: 100%;
  }

  .export-buttons {
    flex-direction: column;
  }

  .export-buttons button {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .export-buttons button:last-child {
    margin-bottom: 0;
  }

  .activos-table th,
  .activos-table td {
    font-size: 12px;
    padding: 6px; /* Reduce el relleno para móviles */
  }

  .pagination-controls button {
    margin-bottom: 10px;
  }
  .checkbox-container {
    padding: 0 8px; /* Reduce el relleno para pantallas pequeñas */
  }

  .custom-checkbox {
    width: 25px; /* Reduce el tamaño del checkbox en pantallas pequeñas */
    height: 25px;
  }

  .custom-checkbox::before {
    width: 10px; /* Hace el icono del checkmark más pequeño */
    height: 5px;
  }

  input[type="checkbox"]:checked + .custom-checkbox {
    background-color: #34d399; /* Color verde claro */
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 769px) {
  .search-bar {
    max-width: 450px;
    font-size: 16px;
    width: 100%;
  }

  .pagination-controls {
    margin-top: 20px;
  }
  .export-buttons {
    justify-content: flex-start;
  }

  .export-buttons button {
    padding: 10px 20px;
  }
  .checkbox-container {
    padding: 0 15px; /* Añade más relleno en pantallas grandes */
  }

  .custom-checkbox {
    width: 30px; /* Tamaño estándar del checkbox */
    height: 30px;
  }

  .custom-checkbox::before {
    width: 12px; /* Tamaño estándar para el checkmark */
    height: 6px;
  }
}
