body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  padding: 1rem;
  background-color: #f0f2f5; /* Fondo para mayor visibilidad */
}

.login-box {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px; /* Límite de tamaño para pantallas grandes */
  box-sizing: border-box;
}

.login-title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.input-container {
  margin-bottom: 1.5rem;
}

.input-container label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
}

.input-container input {
  width: 92%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 1rem;
}

.input-container input:focus {
  border-color: #007bff;
  outline: none;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #2a3443;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.login-button:hover {
  background-color: #374151;
}

.logo-user {
  display: block;
  margin: 0 auto 1.5rem auto;
  width: 40%; /* Tamaño flexible para pantallas pequeñas */
  height: auto;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 480px) {
  .login-box {
    padding: 1.5rem;
  }

  .login-title {
    font-size: 1.5rem;
  }

  .input-container input {
    font-size: 0.9rem;
    padding: 0.6rem;
  }

  .login-button {
    padding: 0.6rem;
    font-size: 0.9rem;
  }

  .logo-user {
    width: 50%;
  }
}
