.manage-users {
  justify-content: flex-start;
  padding: 20px;
  margin-top: 80px;
  max-width: 1200px; /* Limita el ancho máximo en pantallas grandes */
  margin-left: auto;
  margin-right: auto;
}

.header-section {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.add-user-button {
  background-color: #2a3443;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Suaviza la transición del color en hover */
}

.add-user-button:hover {
  background-color: #374151;
}

.datatable-section {
  margin-top: 20px;
}

/* Ajustes para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .manage-users {
    padding: 15px;
    margin-top: 80px;
  }

  .datatable-section {
    margin-top: 10px;
  }

  .header-section {
    flex-direction: column; /* Cambia la cabecera a un layout en columna */
    align-items: flex-start; /* Centra los elementos de la cabecera */
    text-align: center; /* Centra el texto de la cabecera */
  }

  .add-user-button {
    font-size: 16px; /* Mantén el texto legible en pantallas pequeñas */
    text-align: center;
  }
}
