.manage-users {
  padding: 20px;
  margin-top: 60px;
}

.header-section {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.add-user-button {
  background-color: #2a3443;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.add-user-button:hover {
  background-color: #374151;
}

.datatable-section {
  margin-top: 20px;
}
